* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #264653;
    --title-font: 'Quicksand', sans-serif;
    --text-font: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: var(--title-font);
}

.header__logo {
    height: 100%;
}

.menu a {
    text-decoration: none;
}

.menu__card {
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.menu__card h2{
    color: white;
    font-family: var(--title-font);
    font-size: 2.5rem;
    margin-bottom: 2px;
    margin-left: 5px;
}

.menu__card--missions {
    background-image: url(/assets/images/rocketlaunch_med.jpg);
}

.menu__card--gallery {
    background-image: url(/assets/images/stars_med.jpg);
}

.menu__card--news {
    background-image: url(/assets/images/telescope_med.jpg);
}

.menu__card span {
    position: relative;
    bottom: 0;
}

.footer {
    margin-bottom: 10px;
}

.footer__social {
    height: 8vh;
    text-align: center;
    margin-bottom: 8px;
}

.footer__social img {
    height: 100%;
    margin: 5px;
}

.footer__disclaimer p{
    text-align: center;
    font-family: var(--text-font);
    font-size: 1.5rem;
}